<div id="header" class="mainwidth">
  <div class="contact">
    <span>+7(495)</span>
    645-09-73
  </div>
  <div class="reg">
    <a href="#">Войти</a>
    <a href="#">Регистрация</a>
  </div>
  <a href="/" class="logo"><img src="/assets/logo.png" alt="БелВеликан" /></a>
  <div class="menu">
    <%= link_to 'Главная', root_path, class: active_page('main') %>
    <%= link_to 'Каталог', products_path, class: active_page('products') %>
    <%= link_to 'О компании', page_path('about'), class: active_page('about') %>
    <%= link_to 'Контакты', page_path('contacts'), class: active_page('contacts') %>
    <%= link_to 'Как заказать', page_path('delivery'), class: active_page('delivery') %>
  </div>
  <div class="cl"></div>
</div>
