<% @order.line_items.each do |li| %>
  <div class="item or" data-line-item-id=<%= li.id %> >
    <div class="rights">
      <div class="price or" style="text-align: left; margin-right: 0px">
	<h2><%= li.product.title %></h2>
	<p>Размер: <span><%= li.product.size_range %></span></p>
	<h2><span><%= li.product.price.to_i %> </span> руб.</h2>
      </div>
      <div class="quantity or" style="margin-right: 0px">
	<h2>Количество единиц изделия</h2>
	<%= number_field_tag :count, li.count, min: 0 %>
      </div>
      <div class="sum or">
	<h2>Стоимость изделия</h2>
	<p><span><%= li.price.to_i %> </span> руб.</p>
      </div>
      <%= link_to 'Удалить позицию', '', class: 'remove_line_item', style: 'background: url(/assets/del.png) no-repeat center bottom; width: 50px; height: 63px; font: 12px Arial; color: #999; text-decoration: none; float: right;' %>
    </div>
    <a href="#" style="width: 67px; height: 81px; display: block; float: left; border-radius: 8px; border: 1px solid #a7519a">
      <span class="container">
	<%= image_tag li.product.logo, style: 'width: 65px; height: 79px' %>
      </span>
    </a>
    <div class="cl"></div>
    
  </div>
<% end %>

<div class="divider"></div>
<div class="cl"></div>
<div class="checkout mainwidth">
  <h2>Всего позиций изделий: <span><%= @order.line_items.count %></span></h2>
  <h2>Итоговая стоимость: <span><%= @order.full_price.to_i %> </span> руб.</h2>
  <h2>Общее количество изделий: <span><%= @order.line_items.sum(:count) %></span></h2>
</div>
<div class="cl"></div>
<div class="order_form mainwidth">
  <div class="header">Регистрация заказа</div>
  <%= form_for @order.info, url: cart_path(@order), action: :update, validate: true do |f|%>
    <%= f.text_field :customer_name, placeholder: 'Введите наименование заказчика' %>
    <%= f.email_field :customer_email, placeholder: 'Введите e-mail заказчика' %>
    <%= f.text_field :customer_address, placeholder: 'Введите адрес заказчика' %>
    <%= f.text_area :comment, placeholder: 'Коментарии' %>
    <%= f.submit '', class:'ord_cart' %>
    <%= link_to '', destroy_order_path, method: :delete, class:'or_c' %>
  <% end %>
</div>
