<% @products.each do |product| %>
  <div class="item">
    <div class="item_container">
      <div class="head" style="background: url(/assets/bg1.png)">здесь название лайбла</div>
      <div class="product"><%= image_tag product.logo.url(:big) %></div>
      <div class="popup">
	<h2><%= product.title %></h2>
	<p>Размер: <span><%= product.size_range %></span></p>
	<h2><span><%= product.price %></span> руб.</h2>
	<div class="cart">
	  <%= link_to 'В корзину', '', class: 'add_to_cart' %>
	  <%= number_field_tag :count, '', :class => 'count_field', 'data-product-id' => product.id, :min => 0 %>
	</div>
      </div>
    </div>
  </div>
<% end %>


<div class="cl"></div>
<div class="text_container">
  <%== @page.text %>
</div>