<div class="item pr">
  <div class="popup_pr">
  </div>
  
  <div class="popup item">
    <div class="item_container">
      <div class="product">

	<% product.images.each do |product_image| %>
	  <%= image_tag product_image.image.url(:slider) %>
	<% end %>

      </div>
      <a href="#" class="arrow left" style="background: url(/assets/arrow_l_sm.png); left: 5px"></a>
      <a href="#" class="arrow right" style="background: url(/assets/arrow_r_sm.png); right: 5px"></a>
      <div class="info">
        <h2><%= product.title %></h2>
        <p>Размер: <span><%= product.size_range %></span></p>
        <h2><span><%= product.price.to_i %> </span>руб.</h2>

        <div class="cart">
	  <%= link_to 'В корзину', '', class: 'add_to_cart' %>
	  <%= number_field_tag :count, 0, :class => 'count_field', 'data-product-id' => product.id, :min => 0 %>
	</div>

      </div>
    </div>
  </div>

  <div class="item_container pr">
    <div class="product pr">
      <%= image_tag product.logo.url(:medium) %>
    </div>

    <% if product.label.present? -%>
      <div class="label pr <%= product.label.title.downcase %>"><%= product.label.title %></div>
    <% end -%>

    <div class="info pr">
      <h2 class="product_title"><%= product.title %></h2>
      <p>Размер: <span><%= product.size_range %></span></p>
      <h2><span><%= product.price.to_i %></span> руб.</h2>

      <div class="cart pr">
	<%= link_to 'В корзину', '', class: 'add_to_cart' %>
	<%= number_field_tag :count, 0, :class => 'count_field', 'data-product-id' => product.id, :min => 0 %>
      </div>

    </div>
  </div>
</div>
