<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= "#{@title} | БелВеликан" || 'БелВеликан' %></title>
    <meta name="description" content="<%= @description %>">
    <meta name="keywords" content="<%= @keywords %>">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/favicon.png">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/head' %>

    <%= render('shared/cart') if @active_page != 'cart' -%>
    <%= render('shared/slider') if @active_page != 'cart' -%>

    <%= render('shared/catalog_menu') if @active_page == 'products' -%>

    <div id="main" class="mainwidth">
      <%= yield %>
    </div>

    <div class="cl"></div>

    <%= render 'shared/footer' %>

    <div class="hidden notifications">
      <% flash.each do |key, msg| %>
	<%= content_tag :div, msg, :id => key %>
      <% end %>
    </div>
  </body>
</html>
